.fases {
    padding: 32px;
    text-align: center;
}

.fases h3{ 
    border-bottom: 4px solid; 
    display: inline-block;
    font-size: 32px;
    padding-bottom: 8px;
}

.fases .obras { 
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}