.formulario { 
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.formulario form { 
    background-color: #9F1001;
    border-radius: 20px;
    max-width: 80%;
    padding:36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.formulario h2{ 
    color: #FFF;
}